<div>
    <div class='container px-5 py-24 mx-auto flex flex-wrap items-center'>
        
        <!--Card 1-->
            <div class="w-full"></div>
            <div
                class="border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8" id="post-username">
                    <p class="text-sm text-gray-600 flex items-center">
                        *Post creator's username*
                    </p>
                    <div class="text-gray-900 font-bold text-xl mb-2" id="post-title">*Post title*</div>
                    <p class="text-gray-700 text-base" id="post-content">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
                </div>
                <div class="flex">
                    <div class="text-sm inline">
                        <span class="text-gray-600">Aug 18</span>
                        <a href="#" class="font-medium text-blue-900 hover:text-indigo-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
                                    clip-rule="evenodd" />
                            </svg>Comment
                        </a>
                        <a href="#" class="font-medium text-blue-900 hover:text-indigo-500" id=""><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                            </svg>Like</a>
                        <a href="#" class="font-medium text-blue-900 hover:text-indigo-500"><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
                            </svg>Dislike</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div
    class="border border-gray-400 lg:border-gray-400 bg-white rounded p-2 flex flex-col justify-between leading-normal">
    <div class="mb-6">
        <p class="text-sm text-gray-600 flex items-center">*Commenter*</p>
        <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
    </div>
    <div class="flex items-center">
        <div class="text-sm">
            <p class="text-gray-600">Aug 9</p>
        </div>
    </div>
</div>
