html,
body {
  height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

#create-post {
  text-align: left;
  font-weight: bold;
  color: rgb(200, 200, 200);
  letter-spacing: 0.5px;
  background: white;
}

#create-post:hover {
  background: rgb(238, 238, 241);
  cursor: pointer;
}
